/**
 * @file SCSS to define the typography.
 */
 
@font-face {
  font-family: Montserrate-Regular;
  src: url(./../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrate-italic;
  src: url(./../fonts/Montserrat/static/Montserrat-LightItalic.ttf);
}